* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

.slider-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.left-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.left-slide > div {
    height: 100%;
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-slide h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.right-slide {
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.right-slide > div {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
    background-color: #ffffff;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

.action-buttons button:hover {
    color: #000;
}

.action-buttons button:focus {
    outline: none;
}

.action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
